body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

/* Add your own custom styles here */

/*Navbar styling*/
.navbar {
  background-color: #234f1ece;
  display: flex;
  justify-content: space-around;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-logo {
  height: auto;
  width: 15%;
  margin-left: 10px;
}
.navbar h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: auto;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.searchbar input {
  flex: 1;
  min-width: 300px;
  padding: 0.5rem;
}

.mininav {
  background-color: #9b9b9bad;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0rem;
  align-items: right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.mininav h1 {
  font-size: medium;
}

/* .mininav dropdown {
  text-decoration: none;
  padding: 0;
  font-size: small;
}
.mininav-link dropdown-toggle {
  text-decoration: none;
  padding: 0;
  font-size: small;
} */

/* .dropdown-menu {
  font-size: small;
} */

/* details.jsx */
.carousel-item {
  aspect-ratio: 16 / 9;
  overflow: hidden; /* stop content from overflowing */

  position: relative; /* needed to put a tint over images */
}

/* darken */
.carousel-item::after {
  content: ""; /* no idea */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 30% black tint */
  z-index: 1; /* over image behind carousel */
}

.carousel-image-fill {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* make text background darker for readability */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
}

/* Books.jsx */
.home-title {
  margin-top: 40px;
  margin-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vw;
}
.all-books-display {
  display: grid;
  grid-template-columns: repeat(
    4,
    minmax(200px, 1fr)
  ); /* or fixed 4: repeat(4, 1fr) */
  gap: 20px;
  justify-content: center;
  margin: 30px;
}
.card {
  height: auto;
  background-color: rgb(55, 199, 12);
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  width: auto;
  height: 30vh;
}
.card-title {
  margin-top: 10px;
  margin-left: 10px;
}
.card-text {
  margin: 10px;
}
.text-body-secondary {
  margin-left: 10px;
}
